html, body {
	min-height: 100%;
	background-color: white;
}
table{
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

ul{font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";}
li{font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";}
p{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border: black solid 3px;
	border-radius:px;
	text-align: center;
}
p4{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border: black solid 3px; 
	text-align: center; 
	font-size: 7px;
}
a{font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";}

.Header-Container {
	background-color: #FFB151;
    display: inline-grid;
    grid-template-columns: 100px 40% 20px auto auto auto auto;
	grid-template-rows: 120px;
	grid-column-gap:30px;
	width: 100%;
	border: solid 3px;
	padding-bottom: 10px;
	overflow: hidden;
	margin-left: auto;
	border-radius: 25px;
  }
.header {
	position: static; 
	padding-left: 25px;
	font-size: 110%;
	grid-column: 2/4;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
.Header-Container img{
  	  margin-left: 20px;
	  margin-top: 8px;
 	  width: 100px;
	  position: relative;
	  overflow: hidden; 

  }
.Header-Container a{
	text-decoration:none;
	display: inline-grid;
	align-content: center;
	font-size: 50px;
	margin-top: 30px;
	padding-right: 10%;
}
.Header-Container a:hover{
	background-color: #FFC072;
}
.Homepage-links {	
  display: none;
  position: absolute;
  background-color: #FFB151;
  min-width: 60px;
  padding-left: 20px;
  padding-right: 10px;
  box-shadow: 16px 8px 16px 16px rgba(0,0,0,0.2);
  text-align: center;
  float:left;
}

@media (max-width: 700px){
	span.waffle {display: none;}
	span.burger {display: inline-block;}
	
}
@media (min-width: 701px){
	span.waffle{display:inline-block;}
	span.burger{display:none;}
}

@media screen and (max-width : 700px){

	span.burger:hover .Homepage-links {
		display:block;
		right: 0px;
		border: solid black 3px;
	}
	.Homepage-links a:hover{
		background: #FFC072;
	}
}

#alice{
	border: solid 3px black; 
	border-radius:25px;
}

#sherellesign{
	border: black solid 3px;
	width:200%;
	border-radius:25px;
	min-width: 200px;
	
}
#grouppalttext{
	visibility:hidden;
}
#piaandsherelle{
	width:60%;
	min-width: 300px;
	border: black solid 3px;
	border-radius:25px;
}
#piaandsherelle2{
	width:100%;
	min-width: 150px;
	border: black solid 3px;
	border-radius:25px;
}

@media (max-width: 700px){
	#sherellesign{
		display: none;
	}
	#groupphoto{
		display:none; 
	}
	#grouppalttext{
		visibility: visible;
	}
	#piaandsherelle{
		display:none;
	}}

#groupphoto{
	position: relative;
	width:700px;
	border:solid black 3px;
	min-width: 250px;
}

.sideArticle {
display: inline-block;
margin-top: 10px; 
background-color: #FFB151;
border: black solid 3px;
font-size: 50%;
height:800px;
margin-bottom: 10px;
width:150px;
float:left;
}
@media (max-width:500px){
		.sideArticle{display:none;}
	
}
.news{
	padding-top: 4px;
    background-color: coral;
    border-bottom: solid black 3px;
    text-align: center;
	font-size: 11px;
	font-family:  Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: black;
}
.randomInfo{
	font-size: 10px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	margin: 0 10 0 10;
}

.mainArticleContainer {
  overflow:visible;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30% 30% 30% 5%;
  grid-row-gap: 0%;
		
}

.mainArt1 { 
grid-column: 1/3;
grid-row: 1/2;
margin: 10px;
padding: 20px;

}

.mainArt2 {
margin-left: 2%;
grid-column: 1/3;
grid-row: 3;
margin: 10px;
padding: 20px;
	overflow:visible;
}

.mainArt3 { 
margin-left: 2%;
grid-column: 1/3;
grid-row: 4;
margin: 10px;
padding: 20px;
}


.mainArta { 
margin: 10px;
padding: 20px;
}

.mainArtb {
margin: 10px;
padding: 20px;
}

.mainArtc { 
margin: 10px;
padding: 20px;
}
.mainArtd { 
margin: 10px;
padding: 20px;
}
@media (min-width: 701px){
	.mainArta { grid-column: 1; grid-row: 1/3;}
	.mainArtb { grid-column: 2; grid-row: 1/3;}
	.mainArtc { grid-column: 3; grid-row: 1/3;}
	.mainArtd { grid-column: 2/3; grid-row: 1/3;}
}

@media (max-width: 700px){
	.mainArta { width:200%; grid-column: 1/3; grid-row: 1;}
	.mainArtb { width:200%; grid-column: 1/3; grid-row: 2;}
	.mainArtc { width:200%; grid-column: 1/3; grid-row: 3;}
	.mainArtd { width:200%; grid-column: 1/3; grid-row: 2/3;}
}

 #googlemap{
	width: 80%;
	min-width: 300px;
	overflow:hidden;
	 border: solid black 3px;
}

.container {
  position: relative;
  overflow: visible;
  width: 100%;
}

.responsive-iframe {
	overflow: visible;
position: relative;
  width: 150%;
	min-height: 500px;
	min-width: 200px;
}
.videoBorder{
    position: relative;
    height: 190px;
    width: 340px;
    border: 3px solid black;
    overflow: hidden;
    right: 0;
}

#video {
    position: relative;
    width: 100%;
    max-width: 340px;
	min-width: 300px;
    right: 0;
}

.footerGridContainer {
	background-color: #FFB151; 
	position: relative;
	bottom: 0;
    display: grid;
	width: 100%;
	height: 10%;
    grid-template-columns: 45% 30% 30%;
	overflow: hidden;
	margin-left: auto;
	 border: black solid 3px;
	
}

.footer1 {
    grid-column: 1;
}
.footer2 { 
    grid-column: 2;
    }
.footer3 { 
    grid-column: 3;
    }
  
#tableOeffnungszeiten {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    	text-align: center-right;
}
  
